{{#block "header"}}

    <!DOCTYPE html>
    <html>

    <head>
        <title>{{#block "title"}}Wildlife{{/block}}
        </title>

    </head>

    <body>
{{/block}}

<div class="container-fluid">
    {{#block "content"}}
    {{/block}}

</div>

{{#block "footer"}}


    </body>

    </html>
{{/block}}